<div class="container">
    
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar Gifs...">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia distinctio assumenda cum, nulla nihil animi, commodi exercitationem obcaecati at molestias in neque dolorum! Qui praesentium earum, voluptatem obcaecati quis molestiae.
      </div>
    </div>
  
</div>